{% extends "base.html" %}

{% block content %}


'''
--- Carts Guru
-- Cart
CREATE TABLE Cart (
	user_id INT NOT NULL REFERENCES Users(id),
	seller_id INT NOT NULL REFERENCES Users(id),
	product_id INT NOT NULL REFERENCES Products(id),
	quantity INT NOT NULL CHECK(quantity >= 0),
	price_per_item DECIMAL(10, 2) NOT NULL CHECK(price_per_item >= 0),
	PRIMARY KEY(user_id, seller_id, product_id)
);
'''
<div class="main">
    {% if current_user.is_authenticated %}
    <h2 style="margin-top: 2vh; margin-bottom: 2vh;">{{ current_user.firstname }}'s Cart:</h2>
    <h5 style="font-size: 24px">Current balance: <b>${{ current_user.balance }}</b></h5>
    <table class="table table-light table-striped table-hover container">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Seller ID</th>
        <th scope="col">Product ID</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price ID</th>
        </tr>
    </thead>
    <tbody>
        {% for cart in cart %}
        <th scope="row">{{ cart.user_id }}</th>
        <td>{{ cart.seller_id }}</td>
        <td>{{ cart.product_id }}</td>
        <td>{{ cart.quantity }}</td>
        <td>{{ cart.price_per_item }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% else %}
    <div>
    <p><a href="{{ url_for('users.register') }}" class="btn btn-dark" role="button">Register</a>&nbsp;<a href="{{ url_for('users.login') }}" class="btn btn-dark" role="button">Log in</a></p>
    </div>
    {% endif %}
</div>

<br><br>

{% endblock %}
