
{% extends "base.html" %}

{% block content %}

<div class="main">
    {% if current_user.is_authenticated %}
    <h2 style="margin-top: 2vh; margin-bottom: 2vh;">{{ current_user.firstname }}'s Cart:</h2>
    <table class="table table-light table-striped table-hover container">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Seller ID</th>
        <th scope="col">Product ID</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <td>{{ seller_id }}</td>
        <td>{{ product_id }}</td>
        <td>{{ quantity }}</td>
        <td>{{ price_per_item }}</td>
        </tr>
    </tbody>
    </table>
    {% else %}
    <div>
    <p><a href="{{ url_for('users.register') }}" class="btn btn-dark" role="button">Register</a>&nbsp;<a href="{{ url_for('users.login') }}" class="btn btn-dark" role="button">Log in</a></p>
    </div>
    {% endif %}
</div>

<br><br>

{% endblock %}