{% extends "base.html" %}

{% block content %}

<div class="main">
	<h2 style="margin-top: 2vh; margin-bottom: 2vh;">Review history for {{ current_user.firstname }}: </h2>
	{% if message is not none %}
	<h5> {{ message }} </h5>
	{% endif %}
	<table class="table table-light table-striped table-hover container">
		<tr>
			<th scope="col">Prouduct ID</th>
			<th scope="col">Date</th>
			<th scope="col">Rating</th>
			<th scope="col">Review</th>
			<th scope="col"></th>
			<th scope="col"></th>
		</tr>
		{% if reviews is not none %}
		{% for review in reviews %}
		<tr>
			<td scope="row"><p>{{ review.product_id }}</p></td>
			<td><p>{{ review.date_time }}</p></td>
			<td><p>{{ review.rating }}</p></td>
			<td><p>{{ review.description }}</p></td>
			<td><form action="{{ url_for('reviews.write_prod_review', product_id=review.product_id) }}" method="POST">
				<button class = "btn btn-outline-primary inner_button" type="submit">Edit</button>
			</form></td>
			<td><form action="{{ url_for('reviews.delete_prod_review', product_id=review.product_id) }}" method="POST">
				<button class = "btn btn-outline-primary inner_button" type="submit">Delete</button>
			</form></td>
		</tr>
		{% endfor %}
		{% endif %}
	</table>
</div>

<br><br>

{% endblock %}
