{% extends "base.html" %}

{% block content %}

<h2 style="margin-top: 2vh; margin-bottom: 2vh;">Adding review for product ID: {{ product_id }}: </h2>
{% if review_submitted and result %}
<h5>Successfully completed review for product ID: {{ product_id }} </h5>
{% elif review_submitted %}
<h5>Unable to complete review for product ID: {{ product_id }}, perhaps you have already made one</h5>
{% endif %}

Update: {{ prev_review.exists }}

<table class="table table-light table-striped table-hover container">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ product_summary.name }}</th>
      <td>{{ product_summary.description }}</td>
    </tr>
  </tbody>
</table>

<h5><i>Summary statistics: </i></h5>
<table class="table table-light table-striped table-hover container">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Current Sellers</th>
      <th scope="col">Current Stock</th>
      <th scope="col">Average Price</th>
      <th scope="col">Product Reviews</th>
      <th scope="col">Average Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr onclick="window.location.href='{{ url_for('products.productPage', id=product_summary.product_id)}}'">
      <th scope="row">{{ product_summary.sellers }}</th>
      <td>{{ product_summary.total_stock }}</td>
      <td>${{ product_summary.avg_price|round(2, 'common') }}</td>
      <td>{{ product_summary.reviews }}</td>
      <td>{{ product_summary.avg_rating|round(2, 'common') }}</td>
    </tr>
  </tbody>
</table>

<form action="{{ url_for('reviews.add_prod_review', product_id=product_id, update=prev_review.exists) }}" method="POST">
  <label for="numstars"><b>Number of Stars: </b></label><br>
  <input type="number" id="numstars" name="numstars" required step=0.1 min=1 max=5 value="{{ prev_review.rating }}"><br><br>
  <!-- If a review already exists, change label to 'Edit' -->
  {% if prev_review.exists %}
  <label for="body"><b>Edit your review for '{{ product_summary.name }}' (max 256 characters): </b></label><br>
  {% else %}
  <label for="body"><b>Write your review for '{{ product_summary.name }}' (max 256 characters): </b></label><br>
  {% endif %}
  <textarea id="body" name="body" rows="4" cols="50" maxlength="256">{{prev_review.description}}</textarea><br><br>
  <!-- If a review already exists, change button label to 'Update' -->
  {% if prev_review.exists %}
  <input type="submit" value="Update">
  {% else %}
  <input type="submit" value="Submit">
  {% endif %}
</form>

<br><br><br>

{% endblock %}
